@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

@media screen and (min-width: 821px) and (max-width: 3000px) {
    body {
        font-family: "Sofia Sans";
    }

    header, footer, main {
        max-width:3000px;
        padding: 1rem;
        color: #DAD7CD;
    }
    header, footer {
        background-color: #A3B18A;
    }

    .socialmedialogo img {
        height: auto;
        width: 60px;
    }

    #headerDiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: block;
    }
    nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        /* text-decoration: none; */
    }

    nav ul li {
        justify-content: center;
        font-size: 25px;
        padding: 10px;
        text-decoration: none;
    }

    nav ul li a.navactive {
        background-color: azure;
        border-radius: 1rem;
        padding: .5rem;
        
    }

    nav ul li a {
        color: #344E41;
        text-decoration: none;
    }

    nav ul li:hover {
        background-color: azure;
        border-radius: 1rem;
    }

    #meetandgreet {
        display: none;
    }

    #meetandgreet.active {
        background-color: grey;
        text-align: center;
        display: block;
        padding: .5rem;
        border-bottom: 1px solid black;
        margin-bottom: 5px;
    }

    /* Burger Menu */
    #menu {
        background-color: #A3B18A;
        border: 0;    
        margin: 0;
        display: none;
    }
    button img {
        height: auto;
        width: 60px;
    }
    #hamburger-x{
        display: none;
    }
    
    #hamburger-equiv{
        display: inline;
    }
    
    #hamburger-x.menu-active{
        display: inline;
    }
    
    #hamburger-equiv.menu-active{
        display: none;
    }
    /* Burger Menu */

    #dateTimeDiv {
        text-align: center;
        background-color: rgb(85, 141, 122);
        padding: 5px;
        margin-top: 5px;
    }
    
    picture img{         
        box-shadow: 5px 5px 5px 5px rgb(29, 59, 50);
        filter: blur(0.0em);
        transition: filter .5s;
        margin: 5px;
    }

    picture img[data-src]{
        filter: blur(0.3em);
        width: 300px;
        height: 400px;
    }

    .demographics {
        padding: 1rem;
        margin: 10px;
        text-align: center;
        background-color: #344E41;
    }

    .demographics ul, li {
        text-align: left;
    }

    .shire_board_div {
        padding: 1rem;
        margin: 10px;
        text-align: center;
        background-color: #344E41;
        
    }

    .shire_board_div img:hover {
        transform: scale(1.1);
        transition: 1s;
    }

    .shire_entry_div {
        grid-area: hero;
        padding: 1rem;
        margin: 10px;
        text-align: center;
        background-color: #344E41;
    }

    .shire_entry_div img:hover {
        transform: scale(1.1);
        transition: 1s;
    }

    .shire_restaurant_div {
        grid-area: restaurant;
        grid-column: 2;
        padding: 1rem;
        margin: 10px;
        text-align: center;
        background-color: #344E41;
    }

    .shire_restaurant_div img:hover {
        transform: scale(1.1);
        transition: 1s;
    }

    .shire_store_div {
        padding: 1rem;
        margin: 10px;
        text-align: center;
        background-color: #344E41;
    }

    .shire_store_div img:hover {
        transform: scale(1.1);
        transition: 1s;
    }

    .shire_tent_div {
        padding: 1rem;
        margin: 10px;
        text-align: center;
        background-color: #344E41;
    }

    .shire_tent_div img:hover {
        transform: scale(1.1);
        transition: 1s;
    }

    .footerDiv {
        display: flex;
        justify-content: space-between;
    }

    #locationMap {
        height: auto;
        width: 60px;
    }

    .footerpardiv {
        text-align: center;
    }

    .last_visit {
        background-color: #344E41;
        padding: 1rem;
    }
}