@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

@media screen  and (max-width: 480px) {
    body {
        font-family: "Sofia Sans", 'Times New Roman', Times, serif;
    } 

    header, footer, main {
        max-width:480px;
        padding: 1rem;
        color: #DAD7CD;
    }
    header, footer {
        background-color: #A3B18A;
    }

    .socialmedialogo img {
        height: auto;
        width: 30px;
    }

    #headerDiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav ul {
        display: none;
    }

    nav ul li a.navactive {
        background-color: azure;
        border-radius: 1rem;
        padding: 1rem;
    }

    nav ul li a {
        color: #344E41;
        text-decoration: none;
    }

    nav ul li:hover {
        background-color: azure;
        border-radius: 1rem;
    }
    
     /* Burger Menu */
     #menu {
        background-color: #A3B18A;
        border: 0;    
        margin: 0;
    }
     button img {
        height: auto;
        width: 30px;
    }
    #hamburger-x{
        display: none;
    }
    
    #hamburger-equiv{
        display: flex;
    }
    
    nav ul.menu-active{
        display: flex;
        flex-direction: column;
        max-width: 480px;
        padding: 10px;
    }
     nav ul li {
        padding: 10px;
    }

    nav ul li:hover {
        background-color: azure;
    }
    
    #meetandgreet {
        display: none;
    }
    
    #meetandgreet.active {
        background-color: grey;
        text-align: center;
        display: block;
        padding: .5rem;
        border-bottom: 1px solid black;
        margin-bottom: 5px;
    }

    #hamburger-x.menu-active{
        display: flex;
    }
    
    #hamburger-equiv.menu-active{
        display: none;
    }
    ul img {
        width: 30px;
        height: auto;
    }
    /* Burger Menu */

    #logoNameh1 {
        padding: 1rem;
        font-size: 20px;
    }

    nav ul {
        list-style: none;
    }
    
    #dateTimeDiv {
        text-align: center;
        background-color: rgb(85, 141, 122);
        padding: 5px;
        margin-top: 5px;
    }

    picture img{         
        box-shadow: 5px 5px 5px 5px rgb(29, 59, 50);
        filter: blur(0.0em);
        transition: filter .5s;
        margin: 5px;
    }

    picture img[data-src]{
        filter: blur(0.3em);
        width: 300px;
        height: 400px;
    }

    .demographics {
        padding: 1rem;
        margin: 10px;
        text-align: center;
        background-color: #344E41;
    }

    .demographics ul, li {
        text-align: left;
    }

    .shire_board_div {
        padding: 1rem;
        margin: 10px;
        text-align: center;
        background-color: #344E41;
        
    }

    .shire_entry_div {
        padding: 1rem;
        margin: 10px;
        text-align: center;
        background-color: #344E41;
    }
    .shire_restaurant_div {
        padding: 1rem;
        margin: 10px;
        text-align: center;
        background-color: #344E41;
    }
    .shire_store_div {
        padding: 1rem;
        margin: 10px;
        text-align: center;
        background-color: #344E41;
    }
    .shire_tent_div {
        padding: 1rem;
        margin: 10px;
        text-align: center;
        background-color: #344E41;
    }
    footer {
        text-align: center;
    }

    #locationMap {
        height: auto;
        width: 60px;
    }

    .last_visit {
        background-color: #344E41;
        padding: 1rem;
    }
}