@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

@media screen and (min-width: 320px) and (max-width: 480px){
    body {
        font-family: 'Sofia Sans', 'sans-serif';
    }   
    #content {
        margin: 0 auto;
        width: 320px;
        padding: 20px;
    }
    header, footer {
        background-color: blueviolet;

        align-items: center;
        display: block;
        text-align: center;
        padding: 1rem;
    }

    img {
        width: 260px;
        height: auto;
    }

    .visual-balance-div {
        margin: 1rem;
        padding: 10px;
        background-color: aquamarine;
        text-align: center;
    }

    .rule-of-thirds-div {
        margin: 1rem;
        padding: 10px;
        background-color: brown;
        text-align: center;
    }

    .contrast-div {
        margin: 1rem;
        padding: 10px;
        text-align: center;
        background-color: bisque;
    }
}