@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');


/* Media Query Updates for middle widths */

@media screen and (min-width: 481px) and (max-width: 820px) {
    /* nav ul {
      flex-direction: row;
    } */

    body {
        color: aliceblue;
        font-family: "Sofia Sans", sans-serif;
        background: linear-gradient(180deg, hsla(288, 20%, 75%, 1) 0%, hsla(197, 65%, 42%, 1) 100%) no-repeat fixed;
    }
    header, footer, main {
        max-width:820px;
        min-width: 481px;
        padding: 1rem;
        text-align: center;
        height: auto;
    }
   
    header, footer {
        background-color: rgb(76, 79, 92);
        text-align: center;
        /* position: sticky; */
    }

    footer {
        /* position: fixed; */
        left: 0;
        bottom: 0;
        max-width:820px;
        min-width: 481px;
        text-align: center;
    }

    footer p {
     
        text-align: center;
    }
    p {
        padding: 1rem;
        text-align: justify;
    }
    
    nav {
        background-color: rgb(76, 79, 92);
        max-width:820px;
        min-width: 481px;
        margin: 1rem auto;
        padding: 1rem;
    }
    nav ul {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-inline-start: 0px;
    }
    nav ul li {
        border-radius: 10px;
        text-align: center;
        min-width: 210px;
    }
    nav ul li:hover {
        background-color: rgb(111, 157, 226);
    }
    nav a {
        display: block;
        margin: 0.5rem;
        text-decoration: none;
        color: aliceblue;
    }
    h1{
        text-align: center;
    }
    .active {
        background-color: rgb(111, 157, 226);
    }

    .colors-list {
        text-align: center;
        list-style: none;
        background-color: rgb(146, 148, 158);
    }
    #timberwolf {
        color: #DAD7CD;
    }
    #laurel-green {
        color: #A3B18A;
    }
    
    #fern-green {
        color: #588157;
    }
    #hunter-green {
        color: #3a5a40;
    }
    #brunswick-green {
        color: #344E41;
    }
    h3 {
        text-align:center;
    }
    #typography {
        text-align: center;
    }
    
  }  