@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

@media screen  and (max-width: 480px) {
    body {
        font-family: "Sofia Sans", 'Times New Roman', Times, serif;
    } 

    header, footer, main {
        max-width:480px;
        padding: 1rem;
        color: white;
    }
    header, footer {
        background-color: #A3B18A;
    }

    .socialmedialogo img {
        height: auto;
        width: 30px;
    }

    #headerDiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav ul {
        display: none;
    }

    nav ul li a.navactive {
        background-color: azure;
        border-radius: 1rem;
        padding: 1rem;
    }

    nav ul li a {
        color: #344E41;
        text-decoration: none;
    }

    nav ul li:hover {
        background-color: white;
        border-radius: 1rem;
    }
    
     /* Burger Menu */
     #menu {
        background-color: #A3B18A;
        border: 0;    
        margin: 0;
    }
     button img {
        height: auto;
        width: 30px;
    }
    #hamburger-x{
        display: none;
    }
    
    #hamburger-equiv{
        display: flex;
    }
    
    nav ul.menu-active{
        display: flex;
        flex-direction: column;
        max-width: 480px;
        padding: 10px;
    }
     nav ul li {
        padding: 10px;
    }

    nav ul li:hover {
        background-color: azure;
    }
    
    #meetandgreet.active {
        background-color: grey;
        text-align: center;
        display: block;
        padding: .5rem;
        border-bottom: 1px solid black;
        margin-bottom: 5px;
    }

    #hamburger-x.menu-active{
        display: flex;
    }
    
    #hamburger-equiv.menu-active{
        display: none;
    }
    ul img {
        width: 30px;
        height: auto;
    }
    /* Burger Menu */

    #logoNameh1 {
        padding: 1rem;
        font-size: 20px;
    }

    nav ul {
        list-style: none;
    }
    
    #dateTimeDiv {
        text-align: center;
        background-color: rgb(85, 141, 122);
        padding: 5px;
        margin-top: 5px;
    }

    .herodiv {
        text-align: center;
        position: relative;
        max-height: 280px;
        max-width: 480px;
        background-color: #A3B18A;
        padding: 10px;
        margin: 1rem;
    }

    .herodivimg {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .herodiv h1 {
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 50px;
        background-color: #A3B18A;
        padding: 1rem;
        border-radius: 1rem;
    }
    .herodiv h2 {
        font-size: 20px;
        position: absolute;
        bottom: 10px;
        right: 50px;
        background-color: #A3B18A;
        padding: 1rem;
        border-radius: 1rem;
    }

    .herodiv h2 a {
        text-decoration: none;
        color: #344E41;
    }

    .eventDiv {
        text-align: center;
        min-height: 280px;
        max-width: 480px;
        background-color: #A3B18A;
        padding: 10px;
        margin: 1rem;
        
    }
    .weatherDiv {
        text-align: center;
        min-height: 280px;
        max-width: 480px;
        background-color: #A3B18A;
        padding: 10px;
        margin: 1rem;
    }

    .weatherDiv img {
        width: 90px;
        height: auto;
    }

    .weathertemp {
        display: flex;
        justify-content: space-evenly;
    }

    .joinDiv {
        text-align: center;
        min-height: 280px;
        max-width: 480px;
        background-color: #A3B18A;
        padding: 10px;
        margin: 1rem;
    }

    .joinDiv h1 {
        background-color: yellowgreen;
        border-radius: 1rem;
        padding: 1rem;
    }

    .joinDiv h1 a {
        color: #344E41;
        text-decoration: none;
    }

    .newReleaseDiv {
        text-align: center;
        min-height: 280px;
        max-width: 480px;
        background-color: #A3B18A;
        padding: 10px;
        margin: 1rem;
    }
    .spotlightDiv {
        text-align: center;
        min-height: 280px;
        max-width: 480px;

        background-color: #A3B18A;
        padding: 10px;
        margin: 1rem;
    }
    .spotlight1div {
        background-color: rgb(85, 141, 122);
        margin: 0.5rem;
        padding: 1rem;
    }
    .spotlight2div {
        background-color: rgb(85, 141, 122);
        margin: 0.5rem;
        padding: 1rem;    
    }

    .spotlight3div {
        display: none;
    }

    .shire_board_picture img {
        width: 300px;
        height: auto;
    }

    /* Join Page */

    .membership-options {
        display: none;
    }
    .join-form {
        background-color: #A3B18A;
        max-width: 480px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    #form-area {
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    #form-area > * {
        padding: 1rem;
    }

    #radio-div {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    #form-textarea {
        resize: none;
        box-sizing: border-box;
        
        height: 150px;
        margin: 5px;
    }

    #thank-you-section {
        text-align: center;
        padding: 1rem;
        background-color: #A3B18A;
    }
    
    /* Directory Page */
    
    #directory-container {
        background-color: #A3B18A;
        display: flex;
        grid-column: 1/5;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #directory-container.in-list-mode {
        display: table;
    }

    #directory-container.in-list-mode ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 10px;
        flex-wrap: wrap;
    }
    #directory-container.in-list-mode img {
        display: none;
    }
    .business-card {
        list-style: none;
        background-color: rgb(85, 141, 122);
        margin: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        text-align:center;
        justify-content: center;

    }
    .business-card img {
        width: 90px;
        height: auto;
        padding: .5rem;
        text-align: center;
        margin: auto;
    }
    .business-card li {
        padding: 0.5rem;
        font-size: 20px;
    }
    #goldmembership {
        border: 5px solid gold;
        border-radius: .5rem;
    }
    
    footer {
        text-align: center;
    }

    #locationMap {
        height: auto;
        width: 60px;
    }
}