@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

@media screen and (min-width: 821px) and (max-width: 3000px) {
    body {
        font-family: "Sofia Sans";
    }

    img {
        width: 130px;
        height: auto;
    }
    header, footer, main {
        max-width:3000px;
        padding: 1rem;
        color: #DAD7CD;
    }
    header, footer {
        background-color: #A3B18A;
    }

    .socialmedialogo img {
        height: auto;
        width: 60px;
    }

    #headerDiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        display: block;
    }
    nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }

    nav ul li {
        justify-content: center;
        font-size: 25px;
        padding: 10px;
    }

    /* Burger Menu */
    #menu {
        background-color: #A3B18A;
        border: 0;    
        margin: 0;
        display: none;
    }
    button img {
        height: auto;
        width: 60px;
    }
    #hamburger-x{
        display: none;
    }
    
    #hamburger-equiv{
        display: inline;
    }
    
    #hamburger-x.menu-active{
        display: inline;
    }
    
    #hamburger-equiv.menu-active{
        display: none;
    }
    /* Burger Menu */

    #dateTimeDiv {
        text-align: center;
        background-color: rgb(85, 141, 122);
        padding: 5px;
        margin-top: 5px;
    }
    main {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
                "event hero hero spotlight"
                "weather hero hero spotlight"
                "join release release spotlight";
    }
    .herodiv {
        height: 815px;
        max-width: 1520px;
        background-color: #A3B18A;
        padding: 10px;
        margin: 1rem;
        grid-area: hero;
    }
    .eventDiv {
        height: 380px;
        max-width: 540px;
        background-color: #A3B18A;
        padding: 10px;
        margin: 1rem;
        grid-area: event;
        
    }
    .weatherDiv {
        height: 380px;
        max-width: 540px;
        background-color: #A3B18A;
        padding: 10px;
        margin: 1rem;
        grid-area: weather;
    }

    .joinDiv {
        height: 380px;
        max-width: 540px;
        background-color: #A3B18A;
        padding: 10px;
        margin: 1rem;
        grid-area: join;
    }


    .newReleaseDiv {
        height: 280px;
        max-width: 1520px;
        background-color: #A3B18A;
        padding: 10px;
        margin: 1rem;
        grid-area: release;
    }
    .spotlightDiv {
        display: flex;
        height: 1150px;
        max-width: 820px;
        background-color: #A3B18A;
        padding: 10px;
        margin: 1rem;
        flex-direction: column;
        justify-content: space-evenly;
        grid-area: spotlight;
    }
    .spotlight1div {
        background-color: aquamarine;
        padding: 1rem;
        width: 420px;
    }
    .spotlight2div {
        background-color: rgb(85, 141, 122);
        padding: 1rem;
        width: 420px;   
    }

    .footerDiv {
        display: flex;
        justify-content: space-between;
    }

    .footerpardiv {
        text-align: center;
    }
}