@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@media screen and (max-width: 480px) {
    header, footer {
        background-color: blueviolet;
    }
    body {
        font-family: "Inter", Helvetica, sans-serif;
        background: #aaa;
        margin: 0 auto;
        padding: 0.5rem;
    }
    
    header {
        display: flex;
        align-items: center;
        background-color: hsla(213, 62%, 45%, 1);
        border-radius: 5px;
        color: aliceblue;
    }
    main {
        max-width: 480px;
    }
    
    header img {
        margin: 1rem;
        height: auto;
        width: 100px;
    }
    
    header  h1 {
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }
    
    header div:nth-child(2) {
        width: 100%;
    }
    

    
    footer {
        align-items: center;
        background-color: hsla(213, 62%, 45%, 1);
        border-radius: 5px;
        text-align: center;
        padding: 1rem;
        color: aliceblue;
    }
}
