@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: "Inter", Helvetica, sans-serif;
    justify-self: center;
    background: linear-gradient(90deg, hsla(266, 75%, 55%, 1) 0%, hsla(340, 47%, 77%, 1) 100%);
}

header {
    display: flex;
    align-items: center;
    background-color: hsla(213, 62%, 45%, 1);
    border-radius: 5px;
    color: aliceblue;
}
/* hsla(213, 62%, 45%, 1) */

header img {
    margin: 1rem;
}

header  h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

header div:nth-child(2) {
    width: 100%;
}

#content {
    margin: 0 auto;
    width: 800px;
    padding: 20px;
}

footer {
    align-items: center;
    background-color: hsla(213, 62%, 45%, 1);
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    color: aliceblue;
}